
<div class="row">
	<% if @practices.blank? %>
		<h4>There are no specialists containing the term <%= params[:search] %>.</h4>
	<% else %>
		<ul id="waterfall">
	      <% @practices.each do |practice| %>
				
				<li>
					<div class="panel panel-default" style="margin: 10px;">
						<div class="panel-heading preview">
							<%= image_tag practice.photos[0].image.url(:medium) if practice.photos.length > 0 %>
						</div>
						<div class="panel-body">
							<%= image_tag avatar_url(practice.user), class: "img-circle avatar-small" %>&nbsp;
							<%= link_to practice.dr_first_name,practice %>
							<%= link_to practice.dr_last_name,practice %><br>
							<%= link_to practice.speciality, practice %><br>
							<%= link_to practice.experience,practice %> Years of Experience<br>
						Address: <%= link_to practice.address.truncate(90, omission: '...'),practice %><br>
						Zipcode: <%= link_to practice.zip_code,practice %><br>
						</div>
					</div>
				</li>

			<% end %>
	    </ul>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#waterfall').NewWaterfall();
	});
</script>